<!-- added transition -->
<div transition:animate="slide" class="nav-links">
  <a href="/">Home</a>
  <!-- full reload bypassing transition animations -->
  <a href="/about/" data-astro-reload>About</a>
  <a href="/blog/">Blog</a>
  <a href="/tags">Tags</a>
</div>
